<div id="homepage-container">
  <header>
    <h4>STORY TIME</h4>
  </header>
  <main>
    <section class="section-1">
      <h1 id="headerline">
        Choose Your Path,
        Live Your Story
      </h1>
      <div>
        <p id="headerline-txt">
          Immerse yourself in interactive tales
          where every choice shapes your story.
        </p>
        <div class="get-started-div">
          <svg xmlns="http://www.w3.org/2000/svg" width="109" height="109" viewBox="0 0 109 109" fill="none">
            <circle cx="54.5" cy="54.5" r="54" stroke="white"/>
          </svg>
          <div routerLink="/choose-story">
            <span id="svg-icon"  >
              <p>GET STARTED</p>
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="9" viewBox="0 0 28 9" fill="none">
                <path d="M28 4.5L20.5 0.169875L20.5 8.83013L28 4.5ZM-6.55671e-08 5.25L21.25 5.25L21.25 3.75L6.55671e-08 3.75L-6.55671e-08 5.25Z" fill="white"/>
              </svg>
            </span>
          </div>
        </div>
      </div>
    </section>
    <section class="section-2">
      <div>
        <h1>
          1K
        </h1>
        <p>Active users</p>
      </div>
      <div>
        <h1>
          30+
        </h1>
        <p>Interactive modes</p>
      </div>
    </section>
  </main>
  <div id="legend-div">
    <div id="legend-info"></div>
    <div id="legend-info-inn">
      <div>THE LEGEND BEGINS HERE</div>
    </div>
  </div>
</div>
