<div id="homepage-container" class="max-width-wrapper">

  <main>
    <!-- hero section -->
    <section class="section-1">
      <h1 id="headerline">Choose Your Path, Live Your Story</h1>
      <div>
        <p id="headerline-txt">
          Immerse yourself in interactive tales where every choice shapes your
          story.
        </p>

        <!-- Get started button -->
        <a id="btn" routerLink="/choose-story">
          <span class="circle-svg">
            <img src="assets/icons/circle-svg.svg" alt="" srcset="">
          </span>
          <p class="btn-text">GET STARTED</p>
          <span class="arrow-right">
            <img src="assets/icons/arrow-right.svg" alt="" srcset="">
          </span>
        </a>
        <!-- Get started button ends -->
      </div>
    </section>
    <!-- hero section ends -->

    <!-- Platform Stats  -->
    <section class="section-2">
      <div>
        <h1>1K</h1>
        <p>Active users</p>
      </div>
      <div>
        <h1>30+</h1>
        <p>Interactive modes</p>
      </div>
    </section>
    <!-- Platform stats ends -->
  </main>

  <div id="legend-div">
    <div id="legend-info" class="legend-cicle"></div>
    <div id="legend-info-inn" class="legend-cicle">
      <div>THE LEGEND BEGINS HERE</div>
    </div>
  </div>
</div>
