#homepage-container{
  overflow: hidden;
  padding-top: 2rem;
  padding-bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 7rem;

  header {
    overflow: visible;
    width: 100%;
    h4{
      animation: bounce 1.5s infinite;
      color: #fff;
      font-family: 'billionaire';
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 0.0362rem;
    }
  }

  main{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100%;

    .section-1 {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      #headerline{
        animation: upshift 1.3s ease-in-out;
        color: #FFF;
        font-family: 'adventurer';
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.84px;
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        overflow: visible;

        #headerline-txt  {
          animation: upshift 1.5s ease-in-out;
          color: #FFF;
          font-family: Inter;
          font-style: normal;
          font-weight: 300;
          line-height: 139.43%;
          letter-spacing: -0.3px;
        }

        .get-started-div{
          animation: upshift 1.7s ease-in-out;
          position: relative;
          width: 12rem;
          right: 2.5rem;

          svg {
            animation: scaleCircle .7s infinite alternate ease-in-out;
          }

          div{
            position: relative;
            display: flex;
            z-index: 2;

            #svg-icon {
              cursor: pointer;
              display: flex;
              align-items: center;
              position: absolute;
              width: 100%;
              bottom: 5rem;
              right: -4.25rem;

              svg{
                width: 1.925rem;
                height: 0.85rem;
              }
            }

            #svg-icon p {
              width: 100%;
              margin: 0;
              font-family: 'adventurer';

              font-style: normal;
              font-weight: 400;
              line-height: 120%;
              letter-spacing: 0.58px;
              text-transform: uppercase;
              color: #FFF;
            }
          }
        }
      }
    }

    .section-2{
      animation: leftshift 1.3s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-shrink: 0;
      border-radius: 1.875rem;
      border: 1px solid #A0A0A0;
      background: linear-gradient(180deg, rgba(114, 111, 158, 0.51) 0%,
       rgba(70, 70, 98, 0.51) 100%);

      div{
        display: flex;
        flex-direction: column;
        width: 8.125rem;

        h1{
          font-family: 'adventurer';
          color: #fff;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -0.84px;
        }

        p{
          font-style: normal;
          font-weight: 300;
          line-height: 139.43%;
          letter-spacing: -0.25px;
        }
      }
    }
  }
}


#legend-info{
  animation: upshift .7s ease-in-out;
  overflow: hidden;
  position: absolute;
  border-radius: 687px;
  background: rgba(28, 24, 53, 0.74);
}
#legend-info-inn{
  animation: upshift 1s ease-in-out;
  position: absolute;
  border-radius: 687px;
  background: #E0DDFF;

  div{
    width: 129px;
    z-index: 2;
    position: absolute;
    color: #000;
    font-family: 'adventurer';
    font-style: normal;
    font-weight: 400;
    line-height: 139.43%;
    letter-spacing: -0.25px
  }
}



@keyframes scaleCircle {
  from {
     transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}


@keyframes upshift {
  from{
      opacity: 0;
      transform: translateY(50%);
  }
  to{
      opacity: 1;
      transform: translateY(0%);
  }
}

@keyframes leftshift{
  from{
      opacity: 0;
      transform: translateX(50%);
  }
  to{
      opacity: 1;
      transform: translateX(0%);
  }
}


@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


/* Mobile-specific styles */
@media (max-width: 767px) {

}


// Tablet styles
@media (min-width: 768px) and (max-width: 1024px) {
  #homepage-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  #headerline {
    font-size: 3.25rem;
  }

  #headerline-txt{
    font-size: 1.275rem;
  }

  .section-1{
    width: 24rem;
  }

  #svg-icon p{
    font-size: 1.5rem;
  }

  .section-2{
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    width: 19rem;
    height: 12.375rem;
    h1{
      font-size: 2.75rem;
    }
    p{
      font-size: 1.35rem;
    }
  }

  #legend-info{
    width: 420px;
    height: 420px;
    left: 65%;
    top: 64%;
  }
  #legend-info-inn{
    width: 350px;
    height: 350px;
    left: 76%;
    top: 75%;
    div{
      top: 5rem;
      left: 4.75rem;
      font-size: 1.125rem;
    }
  }
}



// laptop and desktop
@media (min-width: 1024px) {
  #homepage-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  header h4{
    font-size: 1.8125rem;
  }

  #headerline {
    font-size: 4rem;
  }


  #headerline-txt {
    font-size: 1.75rem;
  }
  .section-1{
    width: 35rem;
  }

  #svg-icon p{
    font-size: 1.8125rem;
  }

  .section-2 {
    padding-left: 4rem;
    padding-right: 4rem;
    width: 30.1875rem;
    height: 12.375rem;
    h1{
      font-size: 3.5rem;
    }
    p{
      font-size: 1.5rem;
    }
  }

  #legend-info{
    width: 487px;
    height: 487px;
    left: 73%;
    top: 62%;
  }
  #legend-info-inn{
    width: 350px;
    height: 350px;
    left: 84%;
    top: 78%;
    div{
      top: 5rem;
      left: 4.75rem;
      font-size: 1.25rem;
    }
  }
}
