<main>
  <h1>Choose your story to begin</h1>
  <p>
    Immerse yourself in interactive tales
    where every choice shapes your story.
  </p>
  <!-- default swiper -->
  <swiper-container grab-cursor="true" slides-per-view="2" space-between="30"  pagination="true" class="custom-swiper" id="swiper-all">
    @for (story of storyList; track $index) {
      <swiper-slide  (click)="dataService.updateSelectedMeta(story)"  class="story-card"
        [style.backgroundImage]="'url(' + dataService.stories[story].coverImage + ')'" >
        <h3>{{story}}</h3>
      </swiper-slide>
    }
  </swiper-container>

  <!-- responsive-swiper -->
  <swiper-container grab-cursor="true" slides-per-view="1" space-between="20"  pagination="true" class="custom-swiper" id="swiper-responsive">
    @for (story of storyList; track $index) {
      <swiper-slide  (click)="dataService.updateSelectedMeta(story)"  class="story-card"
        [style.backgroundImage]="'url(' + dataService.stories[story].coverImage + ')'" >
        <h3>{{story}}</h3>
      </swiper-slide>
    }
  </swiper-container>
</main>
