<div class="loadwrapper">
    <div class="load-spinner">
        <div class="loading-container">
            <svg viewBox="0 0 500 100" class="loading-svg ">
              <text x="50%" y="50%" dy=".35em" text-anchor="middle" class="loading-text load">Loading</text>
            </svg>
          <svg viewBox="0 0 500 100" class="loading-svg ">
              <text x="50%" y="50%" dy=".35em" text-anchor="middle" class="loading-text resource">Resources</text>
            </svg>
          </div>
    </div>
</div>