body {
  width: 100%;
  min-height: 100vh;
  background-image: url('../assets/image_processing20220324-4142-1wpnbao 1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Inter', sans-serif;
  color:#fff;
}


